/* https://www.smashingmagazine.com/2019/01/table-design-patterns-web/ */
.Home {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

table {
  max-width: 100%;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}