/* https://www.smashingmagazine.com/2019/01/table-design-patterns-web/ */
.Home {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:hover {
  background-color: aquamarine;
  cursor: pointer;
}

th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}
